.edu-skill{
  width: 100%;
  height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.conainter-edu{
  width: 80%;
  height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px ;
     
}
.boxes{
   margin-top: 5px;
   margin-bottom: 10px;
}
.boxesheadeing{
    font-size: 30px;
    margin-bottom: 10px;
    color:#333;
   
}
.boxes-title{  
    color: #024ec0;
    font-size: 20px;
    margin-bottom: 5px;
}
/* responsive */
@media screen and (min-width:0px) and (max-width:850px) {
    .conainter-edu{
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 20px;
      }
      .skills-section {
        width: 300px;
        margin:0%;
       
    }
      .skill {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        margin-bottom: 15px;
        padding-top: 10px;
    }
    .boxesheadeing{
        font-size: 25px;
    }
    .boxes-title{  
        color: #024ec0;
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.infom-me{
    margin-top: 5px;
}
.infom-me1{
    margin-top: 5px;
    font-size: 15px;
}
.port-infom-me{
    margin-top: 10px;
}
.port-infom-me i{
    margin-right: 5px;
    color: #024ec0;
}
.bold{
    font-weight:bold;
}

@media  (min-width:850px) {
.skills-section {
    width: 500px;
    /* margin: auto; */
    padding: 20px;
    border-radius: 8px;
}
.projet-sec{
    margin-left: 90px;
}
}
.skills-section h2, .skills-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.skill p {
    width: 100px;
    margin: 0;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 10px;
}

.progress {
    height: 6px;
    background-color: #024ec0;

}

.skill span {
    min-width: 40px;
    text-align: right;
    
}

.extra-skills {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.extra-skills li {
    padding: 5px 0;
    color: #666;
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
}



