*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: auto;
    
}
header{
    width: 100%;
    height: 100%;
}
.name{
  font-size: 60px;
  font-family:'Courier New', Courier, monospace ;
  padding-left: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-links li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul i{
    font-size: 20px;
    color: #024ec0;
    margin-right: 5px;
}

ul li a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

/* responsive */
@media screen and (min-width: 0px) and (max-width:850px) {
    header{
        padding-top: 10px;
    }
    .name{
        font-size: 30px;
        /* padding-left: 30px; */
      }
      .nav-links{
           flex-direction: column;
          /* padding-left: 30px;
          padding-right: 30px; */
      }
      .nav-links li{
          justify-content: start;
          margin-top: 5px;
      }
      ul i{
        font-size: 15px;
    }
}