
@media  (min-width:850px) {
.left-lang-section {
    width: 400px;
    /* margin: auto; */
    padding: 20px;
    border-radius: 8px;
  
}
.right-lang-section {
    width: 400px;
    /* margin: auto; */
    padding: 20px;
    border-radius: 8px;
   margin-right: 40px;
}
}
.Hobbies-conatiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lang-section{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px 20px 0px 5px ;
}
.lang-section h2, .lang-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.lang {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.lang p {
    width: 100px;
    margin: 0;
}

.lang-progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 10px;
}

.lang-progress {
    height: 6px;
    background-color: #024ec0;

}

.lang span {
    min-width: 40px;
    text-align: right;
    
}


@media screen and (min-width:0px) and (max-width:850px) {
    
      .lang-section {
        width: 100%;
        margin:0%;
        flex-direction: column;

    }
    .left-lang-section {
        width: 300px;
      
    }
      .lang {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        margin-bottom: 15px;
    }
    
}
.Hobbies-parent{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 70%;
   
}
.Hobbies-box{
    width: 100%;
    height: 100%;
    background-color: #bebdbd;
    padding: 6px ;
    font-size: 18px;
    text-align: center;
    border-radius: 7px; 
    margin: 10px;
}


/* btn styl */
.parent-btn{
    position: relative;
}
#tooglebtn{
    margin-top: 7px;
    padding: 10px 20px 10px 20px ;
    background-color: #024ec0;
    color: aliceblue;
    border: none;
    border-radius: 7px;
     cursor: pointer;
     position: absolute;
     right: 0px;
     top: 0px;
     font-weight: bold;
}
